
	

.btn-red
	display: inline-block
	border: 0px solid black
	border-radius: 20px
	padding: 7px 25px
	background-image: linear-gradient(to right,#CB333B,#984248)
	color: white
	font-family: Open Sans
	font-size: 15px
	text-transform: capitalize
	box-shadow: 10px 10px 20px #A3A3A3FF
	cursor: pointer


.btn-azul
	display: inline-block
	border: 0px solid black
	padding: 7px 25px
	border-radius: 30px
	background-image: linear-gradient(to right,#3490dc,#4C7D8E)
	color: white
	font-family: Open Sans
	font-size: 15px
	text-transform: capitalize
	box-shadow: 10px 10px 20px #A3A3A3FF
	cursor: pointer

.btn-preto
	display: inline-block
	border: 0px solid black
	padding: 7px 20px
	border-radius: 30px
	background-color: black
	color: white
	font-family: Open Sans
	font-size: 15px
	text-transform: capitalize
	box-shadow: 10px 10px 20px #A3A3A3FF
	cursor: pointer


.btn-azul-fundo
	display: inline-block
	border: 1px solid #3490dc
	padding: 7px 25px
	border-radius: 30px
	background-color: white
	color: #3490dc
	font-family: Montserrat
	font-size: 15px
	text-transform: capitalize
	cursor: pointer
