.form-search {
  display: inline-block;
  border: 0px solid #A0A0A0;
  border-radius: 20px;
  padding: 1px 10px;
  background-color: white;
  color: black;
  font-family: Open Sans;
  font-size: 21px;
  text-transform: capitalize;
  margin-right: 7px;
  cursor: pointer;
}

.form-search input {
  border: 0px solid white;
  font-family: Open sans;
  font-size: 15px;
}

.form-search i {
  margin-left: 2px;
  color: #878787;
}

.form-input {
  display: inline-block;
  border: 0px solid #AFAFAF;
  width: 300px;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: white;
  color: black;
  font-family: Open Sans;
  font-size: 16px;
  text-transform: capitalize;
  margin-right: 7px;
}

.form-input:focus {
  border: 0px solid #AFAFAF;
}

.form-cad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10pxc;
  height: 1100px;
}

.form-cad div div {
  margin-top: 15px;
}

